body {
	background-image: url("https://webster.cs.washington.edu/images/moviebg.png");
	font-size: 8pt;
	font-family: Verdana;
	margin: 0;
	padding: 0;
}
.topbannerimg{
	display: block; 
	margin-left: auto; 
	margin-right: auto
}
.rancbg {
	background-image: url("https://webster.cs.washington.edu/images/rancidbannerbg.png");
	background-repeat: repeat-x;
}
h1{
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	font-family: Tahoma;
	text-shadow: 3px 3px #999999;
	
}
/*
Jonathan Muller
10/17/2012
cse154-Autumn
Homework 3
Enjoy =D
*/
.rightside{
	float: right;
	width: 250px;
	background: #A2B964;
}
.leftside{
	display: block;
	width: 550px;
	overflow: hidden;
}
.leftcol{
	width: 47%;
	margin-left: 2%;
	float: left;
}
.rightcol{
	width: 47%;
	margin-right: 2%;
	float: right;
}
.overallcontent{
	border: 4px solid gray;
	display: block;
	width: 800px;
	
	margin-left: auto;
	margin-right: auto;
}
.rating{
	background-image: url("https://webster.cs.washington.edu/images/rottenlargebg.png");
}
.p1{
	clear: left;
	font-size: 8pt;
	font-weight: bold;
	background-color: #E8DC9B;
	border: 2px solid gray;
	padding: 8px;
	overflow: hidden;
}
.p2{
	margin-bottom: 40px;
}
.icons{
	margin-right: 5px;
	float: left;
}
span{
	font-style: italic;
}
dl{
	padding-right: 10px;
	padding-left: 10px;
	font-size: 8pt;
	font-family: Arial;
	
}
dt{
	font-weight: bold;
	margin-top: 10px;
	
}
.bottombar{
	display: block;
	text-align: center;
	background: #A2B964;
	clear: both;
	padding: 5px;
	margin: 0;
}
.validators{
	position: fixed;
    right: 0;
    bottom: 0;
	opacity: .5;
}
.overallrating{
	font-size: 48pt;
	color: red; 
	font-style:normal;
	font-weight: bold;
	vertical-align:text-bottom;
}
li{
	list-style-type: none;
	margin:0;
	
}
ul{
	padding-left: 0;
}