body {
	background-color: #CCCCFF;
	text-align: center;
	font-style: "sans-serif";
	font-size: 14pt;
	font-weight: bold;
}

textarea {
	font-size: inherit;
	width: 90%;
	height:400px;
}

h1 {
	font-size: 32pt;
	font-weight: bold;

}

fieldset { 
	border: 5px solid black;
	border-radius: 10px;
}
legend {
	text-align: left;
}

#w3c {
	float: right;

}
