

body {
	font-family: cursive;
	font-size: 14pt;
	text-align: center;
}


#puzzlearea {
	background: white;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	height: 400px;
	position: relative;
	
}

#youwon {
	color: red;
	font-style: italic;
	font-weight: bold;
}

.tile {
	font-size: 40pt;
	border: 5px solid black;
	height: 90px;
	width: 90px;
	float: left;
	position: absolute;
}