

body{
	background-color: #dad9d4;
	font-family: Verdana;
}
h1, table {
	margin-left: auto;
	margin-right: auto;
	

}
#main {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

table { 
	border: 2px solid #dad9d4; 
	border-collapse: collapse;
	
}


td {
	text-align: center;
	
}


tr:nth-child(2n) {
  background-color: #dad9d4;
}


#frame{
	display: block;
	background-color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


#banner, #w3c{
	background-image: url("https://webster.cs.washington.edu/jonmul/hw6/banner-background.png");
	background-repeat: repeat-x;
	color: white; 
}