h1, h2 , h3{
			color: #A4A400;
			font-family: Lucida Sans Unicode;
			background:#F0F0F0;
			text-decoration: underline;
			text-align: left;
			font-size: 18pt;
		}
		h1{
			text-align: center;
			font-size: 22pt;
		}
		body{
			background: white;
			background-image: url("https://webster.cs.washington.edu/images/silverware.jpg");
			color: #404040;
			font-size: 11pt;
			font-family: Georgia;
		}
		blockquote{
			background: #FFFFA8;
			font-style: italic;
		}
		li{
			list-style-image:url('https://webster.cs.washington.edu/images/pie-icon.gif');
		}