body, input, button, option{
	font-size: 12pt;
	font-family: Georgia, Serif;
}
q{
	font-style: italic;

}

#table {
	height:250px;
}
#bar {
	width: 50px;
	background-color: #FFBBBB;
	text-align:center;
	
}
td{
	vertical-align: bottom;
	font-weight:bold;

}
.popular{
	color: red;

}